
<div class="vrg_casestudy casestudy-kfc">
	<header class="vrg_header">
		<div class="container">
			<div class="columns one header-logo">
				<a href="/" title="Return Home" class="vrg-icon">j</a>
			</div>
			<div class="columns nine">
				<div class="vrg_header-description">Case Study: KFC Colonel's Club</div>
			</div>
		</div>
	</header>
	<section class="vrg_casestudy-focal">

	</section>
	<section class="vrg_casestudy-overview">
		<div class="container">
			<div class="columns sixteen">
				<h2>Overview</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in neque condimentum, sollicitudin augue sit amet, dapibus nulla. Suspendisse non elit auctor, cursus dolor at, dignissim metus. Duis feugiat tellus eu massa rhoncus consequat. Aliquam imperdiet auctor imperdiet. Proin et nunc a lectus molestie gravida at a tortor. Etiam odio mauris, convallis a nisi dignissim, dapibus scelerisque nibh. Ut adipiscing arcu quis eros dapibus, id convallis diam scelerisque.</p></p>
			</div>
		</div>
	</section>
	<section class="vrg_casestudy-concept">
		<div class="container">
			<div class="columns sixteen">
				<h2>Concept</h2>
				<p><a href="../images/thehoff.png" class="vrg_lightbox">lightbox test</a></p>
			</div>
		</div>
	</section>
	<section class="vrg_casestudy-finalproduct">
		<div class="container">
			<div class="columns sixteen">
				<h2>Final Product</h2>
				<p></p>
			</div>
		</div>
	</section>
	<footer class="vrg_casestudy-footer">
		<div class="container">
			<div class="columns thirteen">
				Copyright &copy; 2013 VRG Interactive Inc.
			</div>
			<div class="columns three">
				<a href="#" class="vrg-icon">f</a>
				<a href="#" class="vrg-icon">e</a>
				<a href="#" class="vrg-icon">d</a>
			</div>
		</div>
	</footer>
</div>
