// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* #Layout
================================================== */
.l-section {
  @each $size, $value in $content-spacing {
    &--#{$size} {
      padding: $value 0 ;
    }
  }
  @each $color, $value in $theme-colors {
    &--#{$color} {
      color: color-yiq(darken($value, 15%));
      background-color: $value;
    }
  }
}

.m-hero {
  text-align: center;
  &__logo {
    width: 5rem;
  }
}

.m-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 3rem;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }
}

/* #Page
================================================== */
/* About us */
.brokenheartBackground {
  background: image_url("about-brokenhearts-frame.png") no-repeat center right;
  background-size: 260px;
  height: 280px;
  width: 270px;
}
.brokenheartHeart {
  @extend .animated, .pulse, .infinite;
  background: image_url("about-brokenhearts-heart.png") no-repeat center right;
  float:right;
  width: 200px;
  height: 200px;
  margin: 40px 60px 0 0;
  background-size: 140px;
}
.creativemachinesBackground {
  background: image_url("about-creativemachines.png") no-repeat right 36px;
  background-size: 260px;
  position: relative;
  height: 310px;
  width: 270px;
}
.creativemachinesPulley1 {
  position:absolute;
  width:49px;
  height:49px;
  top: 98px;
  left:12px;
  background: image_url("about-creativemachines-pulley1.png") no-repeat center center;
  background-size:49px;
}
.creativemachinesPulley2 {
  position:absolute;
  width: 40px;
  height: 40px;
  top: 194px;
  left: 89px;
  background: image_url("about-creativemachines-pulley1.png") no-repeat center center;
  background-size: 40px;
}
.bubbles {
  position: absolute;
  width: 122px;
  height: 50px;
  bottom: 204px;
  left: 48px;
  z-index: 1;
}
.bubble {
  @extend .animated, .fadeOutUp, .infinite;
  position: absolute;
  border-radius: 50%;
  background-color: #f0818f;
  &:nth-child(1) {
    bottom: 8px;
    left: 40px;
    width: 10px;
    height: 10px;
    animation-delay: 0.05s;
  }
  &:nth-child(2) {
    width: 4px;
    height: 4px;
    bottom: 18px;
    left: 60px;
    animation-delay: 0.15s;
  }
  &:nth-child(3) {
    width: 6px;
    height: 6px;
    bottom: 6px;
    left: 55px;
    animation-delay: 0.25s;
  }
  &:nth-child(4) {
    width: 8px;
    height: 8px;
    bottom: 18px;
    left: 73px;
    animation-delay: 0.35s;
  }
  &:nth-child(5) {
    width: 3px;
    height: 3px;
    border-radius: 80px;
    bottom: 12px;
    left: 93px;
  }
}

/* Work */
#ourwork { position: relative;}
#ourwork .columns.one { height: 210px;width:20px;}
.work-items { display:none;}
.work-items.current { display:block;}
.work-item { margin: 0 0 70px 0;width:440px !important;cursor:pointer;}
.preview { height: 200px;width:100%;position:relative;overflow:hidden;}
.work-caption { width:100%;position:absolute;bottom:0px;left:0;background-color:rgba(0, 0, 0, 0.7);opacity:0;padding: 20px;box-sizing:border-box; }
.work-caption p, .work-caption strong {font-size: 16px;color:#fff !important}
.work-caption p { margin-bottom: 5px;}
#ourwork .arrowLeft > svg > path {fill: #b6b6b6; }
#ourwork .arrowLeft:hover > svg > path {fill: #959595; }
#ourwork .arrowLeft { display:none;top:440px;}
.work-detail { float:left;display:none;font-size:18px;}
.work-detail table { margin-bottom: 30px;}
.work-detail td { padding: 0 0 6px 0;}
.work-detail td.strong { font-weight: 400;}
.work-detail p.detail-overview { font-size: 17px;}
.work-detail.current { display:block;}

/* Clients */
.clients-title { float: left;margin-right:20px;padding-top:1px;}
.clients-list { display: inline;}
.clients-list li:first-child { width: 100px}
.clients-list li { float: left;margin: 0;width:200px;text-align:center}

#aboutus li.current { display: block;}
