<nav class="l-section l-section--primary l-section--xs l-section--primary--bordered js-fixed">
	<div class="container">
		<div class="m-navigation">
			<%= link_to image_tag("logo.svg", class: "svg m-navigation__logo"), root_path %>
			<ul class="list-inline d-none d-sm-inline">
				<li class="list-inline-item"><a href="#whatwedo" class="text-white">What We Do</a></li>
				<li class="list-inline-item"><a href="#aboutus" class="text-white">About Us</a></li>
				<li class="list-inline-item"><a href="#ourwork" class="text-white">Our Work</a></li>
				<li class="list-inline-item"><a href="#contact" class="text-white">Contact us</a></li>
			</ul>
		</div>
	</div>
</nav>
